doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block pageStyle
  body
    block content
    script(type='text/javascript',src='https://unpkg.com/vue/dist/vue.js')
    script(type='text/javascript',src='http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js')
    block pageScript
