doctype html
html
  head
    title= title
    link(href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.css",rel="stylesheet")
    link(href="http://libs.baidu.com/fontawesome/4.0.3/css/font-awesome.css",rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    block pageStyle
  body
    block content
    script(type='text/javascript',src='https://unpkg.com/vue/dist/vue.js')
    script(type='text/javascript',src='http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js')
    script(type='text/javascript',src='http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js')
    block pageScript
